.Position-cards{
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: center;
}

.Vertical-card {
  background-color: var(--white);
  border-radius: 1rem;
  display: grid;
  width: 40vw;
  box-shadow: 0.3rem 0.3rem 1rem var(--gray);
  padding: 0 0 0.5rem 0;
  font-size: 1rem;
}

.Vertical-card .Photo-card{
  width: 40vw;
  border-radius: 1rem 1rem 0 0;
}

.Vertical-card .City{
  font-size: 0.7rem;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  justify-self: end;
  background: var(--pink);
  padding: 0.3rem;
}

.Brand{
  /* display: none; */
  text-align: center;
}

.Horizontal-card {
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: auto;
  gap: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem #aaaaaa;
  font-size: 1.2rem;
}

.Horizontal-card .Photo-card{
  width: 45vw;
  border-radius: 1rem 1rem 0 0;
}

.Position{
  display: grid;
  width: 40vw;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.Horizontal-card .Position{
  padding: 0 0 0.5rem 0;
}

.Elipse{
  white-space: nowrap; 
  /* width: 36vw; */
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.Information{
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .Vertical-card,
  .Horizontal-card,
  .Select-quantity{
    font-size: 1.8rem;
  }

  .Vertical-card .City{
    font-size: 1.2rem;
  }

  .Brand{
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .Vertical-card,
  .Vertical-card .Photo-card,
  .Vertical-card .Position{
    width: 30vw;
  }

  .Vertical-card .Elipse{
    width: 28vw;
  }

  .Horizontal-card{
    width: 60vw;
  }

  .Horizontal-card .Photo-card{
    width: 20vw;
  }
  .Horizontal-card .Position,
  .Horizontal-card .Elipse{
    width: 40vw;
  }

  .Horizontal-card .Position{
    grid-template-areas: 
    "marca marca"
    "modelo modelo"
    "preço financiamento"
    "info contato";
    grid-auto-columns: 19vw 19vw;
  }

  .Horizontal-card .Brand{
    grid-area: marca;
    justify-self: center;
  }

  .Horizontal-card .Elipse{
    grid-area: modelo;
    justify-self: start;
  }

  .Horizontal-card .Price{
    grid-area: preço;
  }

  .Horizontal-card .Information{
    grid-area: info;
  }

  .Horizontal-card .Financing{
    grid-area: financiamento;
  }

  .Horizontal-card .Contact{
    grid-area: contato;
  }
}

@media only screen and (min-width: 1440px) {
  .Vertical-card,
  .Vertical-card .Photo-card,
  .Vertical-card .Position{
    width: 18vw;
  }

  .Vertical-card .Elipse{
    width: 16vw;
  }

  .Horizontal-card {
    width: 50vw;
  }

  .Horizontal-card .Photo-card{
    width: 12vw;
  }

  .Horizontal-card .Position,
  .Horizontal-card .Elipse{
    width: 36vw;
  }

  .Horizontal-card .Position{
    grid-auto-columns: 21vw 15vw;
  }
  
}