* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

:root{
  font-size: 62.5%;
  --button-color: #D9611E;
  --bg-white: #ffffff;
  --bg-light-blue: #cdf0ee;
}

body {
  background-color: var(--bg-light-blue);
  font-size: 1.6rem;
  font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  button{
    font-size: 1.5rem;
  }
}
